@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@700&display=swap");

/* colors */

html,
#root {
  background-color: #f1f3f2;
}

.darkBackground {
  background-color: #32374b;
}

.accentBackground {
  background-color: rgb(31, 33, 43);
}

.accentBackground2 {
  background-color: #4A5355;
}

.lightBackground {
  background-color: #f1f3f2;
}

.lightText {
  color: #f1f3f2;
}

.darkText {
  color: #32374b;
}

.darkBorder {
  border: 3px #32374b;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

/* typography */

nav.navbar a > h1,
nav.navbar span.menu {
  font-family: "Roboto", sans-serif;
}

nav.navbar a span {
  color: #f1f3f2;
  font-size: 18px;
}

body {
  font-family: "Lora", serif;
}

.bold {
  font-weight: 700;
}

.size20px {
  font-size: 20px;
}

.size22px {
  font-size: 22px;
}


nav.navbar a > h1 {
  font-size: 46px;
}

::placeholder {
  font-size: 18px;
}

button.btn, a.btn {
  font-size: 18px;
}

/* general styles */

button.btn:hover,
a.btn:hover {
  background-color: none;
  color: #f1f3f2;
  transform: scale(0.99);
}

#navBar {
  padding: 0 10px;
}
